/** layout **/

.global {
	backgroundColor: #000000;
	borderColor: #FFFFFF;
	color: #FFFFFF;
	fontSize: 14;
	fontFamily: Helvetica;
}

.main {
	backgroundAlpha: 0.0;
	backgroundColor: #000000;
	alignX: 50%;
	width: 100%;
	height: 100%;
	margin: 4;
}

.fullWidth {
	width: 100%;
	height: 100%;
}

.summaryTitle {
	color: #a6a6a6;
	fontSize: 14;
}

.summaryContainer {
	backgroundAlpha: 0.3;
	backgroundColor: #f3f3f3;
	width: 180;
	height: 152;
	margin: 0 0 4 0;
	padding: 2;
}

.summaryView {
	backgroundColor: #2badf3;
	backgroundAlpha: 0.7;
	width: 100%;
	height: 100%;
	alignX: 50%;
	alignY: 50%;
}

.summaryCount {
	fontSize: 26;
	color: #f3f3f3;
}

.titleLabel {
	fontsize: 18;
	color: #f3f3f3;
}

.box2 {
	backgroundAlpha: 0.3;
	backgroundColor: #f3f3f3;
	width: 600;
	height: 452;
	margin: 0 0 0 4;
}